<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Python - Lab 1 

## Learning objectives

This lab demonstrates examples of: 

1. Creating and manipulating lists
2. For loops
3. Importing modules and functions
4. Creating dictonaries

## Instructions:

1. Replace ??? with the appropriate code
2. Press Shift + Enter to execute cell

In [45]:
# create a list of 10 student (use just first name)
students = ['Amy', 'Chris', 'Bob', 'Alex', 'Erin', 'Emma', 'Sam', 'Ella', 'Matt', 'Kelly']

In [46]:
# Print the list
print(students)

['Amy', 'Chris', 'Bob', 'Alex', 'Erin', 'Emma', 'Sam', 'Ella', 'Matt', 'Kelly']

In [47]:
# print the list of students
# in the following format
# Index 01 	 Alice
# Index 02 	 Bob
# Index 03 	 Pradeep
for index, student in enumerate(students):
    print(index, student)

0 Amy
1 Chris
2 Bob
3 Alex
4 Erin
5 Emma
6 Sam
7 Ella
8 Matt
9 Kelly

In [48]:
# another way to do it that is more specific:
for index, student in enumerate(students):
    print('Index 0' + str(index) + ': ' + student)

Index 00: Amy
Index 01: Chris
Index 02: Bob
Index 03: Alex
Index 04: Erin
Index 05: Emma
Index 06: Sam
Index 07: Ella
Index 08: Matt
Index 09: Kelly

In [52]:
# print the list of students in reverse order one student in a line with its index
for index, student in enumerate(students[::-1]):
    print('Index 0' + str(index) + ': ' + student)

Index 00: Kelly
Index 01: Matt
Index 02: Ella
Index 03: Sam
Index 04: Emma
Index 05: Erin
Index 06: Alex
Index 07: Bob
Index 08: Chris
Index 09: Amy

In [26]:
# print the student list in random order
# hint look up the function random.sample
import random
random_students = random.sample(students,10)
print(random_students)

['Kelly', 'Matt', 'Alex', 'Sam', 'Ella', 'Erin', 'Amy', 'Emma', 'Bob', 'Chris']

In [20]:
# list students in order of their exam marks in the following list
marks = [87,45,76,64,66,90,55,73,69,75]
students_and_marks = dict(zip(students, marks))
print(f"Students and their marks: \n {students_and_marks}")
{k: v for k, v in sorted(students_and_marks.items(), key=lambda item: item[1], reverse=True)}

Students and their marks:
 {'Amy': 87, 'Chris': 45, 'Bob': 76, 'Alex': 64, 'Erin': 66, 'Emma': 90, 'Sam': 55, 'Ella': 73, 'Matt': 69, 'Kelly': 75}

{'Emma': 90,
 'Amy': 87,
 'Bob': 76,
 'Kelly': 75,
 'Ella': 73,
 'Matt': 69,
 'Erin': 66,
 'Alex': 64,
 'Sam': 55,
 'Chris': 45}